body {
  font-family: sans-serif;
  background-image: url('/images/screens/start_background.png');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

#game-over{
  position: absolute;
  display: none;
  margin-left: 550px;
}

#canvas{
  display: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#start-game{
  display: block;
  width: 800px;
  height: 800px;
  margin-top: 80px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#game_title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#controls{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}

#keys{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 70px;
  margin-right: 50px;

}


#mouse{
  width: 180px;
  height: 260px;
  height: auto;
  display: block;

}

.button{
  display: block;
  margin-top: 100px;
  margin-left: 120px;
  width: 300px;
}

.button:hover{
  width: 310px;
}