
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{
  font-family: 'Press Start 2P';  
}
body {
  font-family: sans-serif;
  background-image: url('../images/screens/start_background.png');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

/* #game-running{
  display: none;  width: 800px;
  height: 800px;
  margin-top: 80px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
} */

#game-over{
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

#game-over-img{
  margin-top: 100px;
}

#retry-btn{
  margin-top: 120px;
  width: 300px;
}

#retry-btn:hover{
  width: 310px;
}

#canvas{
  /* display: block; */
  display: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

#start-game{
  display: block;
  width: 800px;
  height: 800px;
  margin-top: 80px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#game-title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#controls{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}

#keys{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 70px;
  margin-right: 50px;

}


#mouse{
  width: 180px;
  height: 260px;
  height: auto;
  display: block;

}

#start-btn{
  display: block;
  margin-top: 100px;
  margin-left: 240px;
  width: 300px;
}

#start-btn:hover{
  width: 310px;
}


#game-win{
  position: absolute;
  display: none;


}

#game-win-img{
  margin-left: 529px;
  margin-top: 200px;
}
