
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{
  font-family: 'Press Start 2P';
  color: #95cc50;  
  font-size: 18px;
  display: inline;
}

h2{
  font-family: 'Press Start 2P';
  color: #95cc50;
  font-size: 15px;
  display: inline;
}

body {
  font-family: sans-serif;
  background-image: url('../images/screens/start_background.png');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 0;
}

#game-running{
  display: none;  width: 800px;
  height: 800px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

#game-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#game-over{
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

#game-over-img{
  margin-top: 100px;
}


#game-win{
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#game-win-img{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}



.buttons{
  width: 800px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu-win-btn{
  margin-top: 80px;
}

#init-menu-img{
  width: 300px;
}

.btn{
  width: 300px;
}

.btn:hover{
  width: 310px;
}

#canvas{
  display: block;
  /* display: none; */
  padding-left: 0;
  padding-right: 0;
  /* margin-top: 80px; */
  margin-left: auto;
  margin-right: auto;
}

#init-screen{
  display: block;
  width: 800px;
  height: 800px;
  margin-top: 80px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#game-title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#controls{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

}

#keys{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 70px;
  margin-right: 50px;

}


#mouse{
  width: 180px;
  height: 260px;
  height: auto;
  display: block;

}

#start-btn{
  display: block;
  width: 250px;
}

#start-btn:hover{
  width: 260px;
}

#settings-btn{
  width: 380px;
}
#settings-btn:hover{
  width: 390px;
}

#settings-screen{
  display: none;
  min-width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: left;
  margin-bottom: 116px;
}

.setting {
  margin-left: 25%;
  margin-top: 5%;
  width: 20%; /* Width of the outside container */
  display: flex;
  flex-direction: row;
}

.slider {
  margin-top: 8px;
  margin-left: 20px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: black; /* Grey background */
  border: 1px solid #95cc4f;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #95cc4f; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #95cc4f; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


#difficult{
  min-width: 200px;
  margin-left: 20px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

#easy{
  border: 1px solid #95cc4f;
  padding: 8px;
  margin-top: 5px;
  max-height: 25px;
}

#easy:hover{
  cursor: pointer;
}

#hard{
  padding: 8px;
  margin-top: 5px;
  max-height: 25px;
}


#hard:hover{
  cursor: pointer;
}

#volume-value{
  font-family: 'Press Start 2P';
  color: #95cc50;  
  font-size: 18px;
  margin-left: 10px;
  margin-top: 12px;
}

#settings-buttons{
  margin-top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-adjustment{
  margin-top: 50px;
}

#menu-btn{
  width:250px;
}